.footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 25px;
    background: #090119;
}

.footer_bottom{
    display: flex;
    gap: 50px;



}
.footer_top{
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-weight: 300;

}

.footer_bottom p{
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.55);

}
.line{
    width: 100%;
    height: 1px;
    background: #61dafb;
    background:linear-gradient(90deg, rgba(2,0,36,0.07344187675070024) 0%, rgba(100, 60, 240, 0.41) 52%, rgba(2,0,36,0.06503851540616246) 100%);
}
